@font-face {
    font-family: 'D-Din_Bold';
    src: url('./assets/font/D-DIN-Bold.woff2') format('woff2'),
         url('./assets/font/D-DIN-Bold.woff') format('woff'),
         url('./assets/font/D-DIN-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DIN-Italic';
    src: url('./assets/font/D-DIN-Italic.woff2') format('woff2'),
         url('./assets/font/D-DIN-Italic.woff') format('woff'),
         url('./assets/font/D-DIN-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DIN';
    src: url('./assets/font/D-DIN.woff2') format('woff2'),
         url('./assets/font/D-DIN.woff') format('woff'),
         url('./assets/font/D-DIN.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DINCondensed';
    src: url('./assets/font/D-D-DINCondensed.woff2') format('woff2'),
         url('./assets/font/D-DINCondensed.woff') format('woff'),
         url('./assets/font/D-DINCondensed.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DINExp-Bold';
    src: url('./assets/font/D-DINExp-Bold.woff2') format('woff2'),
         url('./assets/font/D-DINExp-Bold.woff') format('woff'),
         url('./assets/font/D-DINExp-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DINExp-Italic';
    src: url('./assets/font/D-DINExp-Italic.woff2') format('woff2'),
         url('./assets/font/D-DINExp-Italic.woff') format('woff'),
         url('./assets/font/D-DINExp-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'D-DINExp';
    src: url('./assets/font/D-DINExp.woff2') format('woff2'),
         url('./assets/font/D-DINExp.woff') format('woff'),
         url('./assets/font/D-DINExp.ttf') format('truetype');
  }
  *,
  *:before,
  *:after {
      box-sizing: border-box;    
  }
  
  html,
  body {
      font-family: 'D-Din';
      background-image: url('./assets/images/skybg.gif');
      background-repeat: no-repeat;
      background-size: cover;
      
}
/*Navigation*/
.container-fluid{
  padding: 0;
}
.navbar{
    padding-top: 1em;
    min-height: 80px;
    border-color:transparent;
    background-color: white;
  }
.navbar-right{
  margin-inline-end: 2%; 
}
.navbar-toggle{
  border: none;
   
}
span.icon-bar{
  background-color: rgb(44, 18, 18) !important;
  width: 36px !important;
}
.navbar-brand{
  padding: 0px 30px;
}
.nav>li>a{
  color:#a98d27 !important;
  font-size: 1.4em;
  font-weight: bold;
}
.nav>li>a:link{
  color:#a98d27 !important;
  font-size: 1.4em;
  font-weight: bold;
  background-color: transparent;
}
.nav>li>a:visited{
  color:#a98d27 !important;
  font-size: 1.4em;
  font-weight: bold;
  background-color: transparent;
}
.nav>li>a:hover{
  color:#a98d27 !important;
  font-size: 1.4em;
  font-weight: bold;
  background-color: transparent;
}
.dropdown-menu>li>a{
  color: #332e12;
  font-weight: bold;
  font-size: 1.3em;
  word-spacing: 10px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

/*Landing page*/
.landing-container{
  padding-top: 70px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#slogan-logo{
  display: flex;
  flex-direction:row;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
} 
#slogan{
  color: #a98d27 !important;
  margin-bottom: .5rem;
  font-family: 'D-Din' !important;
  width: 70vw;
  text-align: center;
  text-shadow: -4px -4px #332e12 ;
  position: relative;
  top:20px;
}
@media (max-width: 575.98px) {
#slogan{
  width: 100vw;
}
}
h1{
  font-size: 4em;
  font-weight: 400;
  word-spacing: 20px;
}
h3{
  font-size: 2.5em;
  word-spacing: 20px;
  font-weight: 400;
}
#logo{
  position: relative;
  left: -7%;
  bottom: 25px;
}
@media (max-width:576px){
#logo{
  display: none;
}
}
video.embed-responsive-item{
  padding-top: 10%;
}
#trips>h2{
  text-shadow: 4px -3px gainsboro;
  color: darkslategrey;
  font-size: 3em;
}
#trips>h3{
  font-size: 2.5em;
  padding-bottom: 1em;
}
#trips{
  padding: 5%;
}
.thumbnail{
  border: none;
  background-color: gainsboro;
  padding: 0;
  
}
.thumbnail>p{
  color: rgb(15, 127, 231);
  font-size: 1.3em;
}
/*Footer1*/
.page-footer{
  background-color:rgb(247, 220, 220);
  font-family: 'D-Din-Bold';
  font-weight: 900;
}
@media (min-width: 1024px) {
  #footer1{
    width: 70%;
  }
  }
.page-footer a{
  color:rgb(44, 18, 18)!important;
  text-decoration: none;
  font-family: 'D-Din-Bold';
  font-weight: 900;
}
.page-footer a:hover{
  color:rgb(104, 8, 8) !important;
}
ul{
  list-style-type: none;  
}
.follow-us-on{
  text-indent: 10vw;  
}
.social-media-container{
  display: inline-flex; 
  text-indent: .5vw;
}
#facebook-follow{
  position: relative;
  top: 5px; 
}
#google-plus-follow{
  position: relative;
  top: 10px;
}
.tooltipContainer {
  position: relative;
  display: inline-block;
}
.tooltipContainer .tooltip {
  visibility: hidden;
  width: 120px;
  background-color:transparent;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltipContainer .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltipContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
h4{
  font-family: 'D-Din-Bold';
  font-stretch: extra-expanded;
  font-weight: 900;
}
/*Footer2*/
.footer-copyright{
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: .2px solid #e7e6e7; 
  background-color: rgb(221, 150, 150);
  
  
}
.footer-copyright a{
  color: #4a494a !important; 
  padding: 4%
  
}
@media screen and (max-width: 768px){
.footer-copyright a {
  font-size: .8em!important;
}
}
/*Modal login Form*/
.modal{
  padding-right: 1.5%;
}
@media (max-width: 575.98px) {
.modal{
  width: 100%;
  }
  }
  @media (min-width: 576px) {
  .modal{
    width: 50%;
  }
  }
  
@media (min-width: 576px) {
#modal1{
  margin-left: 50.5%;
}
}   
.modal-content{
  border: 0px;
  box-shadow: 0px 5px #a98d27 ; 
}

.close {
  position: absolute;
  right: 4%;
  top: 0;
  color: #000;
  font-size: 42px;
  font-weight: bold;
  opacity: .5;
}
.imgcontainer{
   display: flex;
   direction: row;
   background-image: url('./assets/images/skybg.gif');
   background-size: cover;
   width: 100%;
   padding-left: 5%;
 }
h1#modalslogan{
  width: 70%;
  color: #a98d27 !important;
  margin-bottom: .5rem;
  font-family: 'D-Din' !important;
  text-align: center;
  text-shadow: -4px -4px #332e12;  
}
#inputcontainer{
  padding-top: 7%;
  padding-left: 2%;
  padding-bottom: 7%;
  color: #161408;
  font-weight: bolder;
  align-items: center;
  width: 100%;
} 

input[type="radio"] {
  position: fixed;
  visibility: hidden;
    
}

input:not([type="radio"]) {
  appearance: none;
  background-color: white;
  display: block;
  transition: 0ms ease;
  border-radius: 7px;
  border: 1px solid #ccc;
  max-height: 0;
  margin-left: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 60%;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  outline: 0;
  position: relative;
  left:20%;
  
}
/*  show input based on radio selection */
[id="sign-in"]:checked ~ input.sign-in ,
[id="sign-up"]:checked ~ input.sign-up,
[id="reset"]:checked ~ input.reset {
  max-height: 40px;
  padding: 5px;
  margin: 20px 0;
  opacity: 1;
}

[id="sign-up"]:checked ~ #pswInput1{
 margin-top: -20px;
 display: none
}
[id="reset"]:checked ~ #pswInput1{
  display: none
 }

/* submit button */
#button1 {
  width: 60%;
  height: 40px;
  border-radius: 7px;    
  background-color: #a98d27;
  font-size: 0;
  position: relative;
  left:20%;
  outline: 0px
}
#button1::before { font-size: 16px; }
    
/* show button text based on radio selection*/
[id="sign-in"]:checked ~ button:before { content: 'Sign In'; }
[id="sign-up"]:checked ~ button:before { content: 'Sign Up'; }
[id="reset"]:checked ~ button:before { content: 'Reset password'; }

[id="reset"]:checked ~ input#btn1 { display: none;}
[id="sign-up"]:checked ~ input#btn1{ position: relative;top:140px; }

label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  color: rgb(3, 53, 40);
  transition: 300ms ease;
  width: calc(100% / 3 - 7px);
}
  
label::after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  transition: inherit;
}
/*  set active label marker*/
[id="sign-in"]:checked ~ [for="sign-in"],
[id="sign-up"]:checked ~ [for="sign-up"],
[id="reset"]:checked ~ [for="reset"] {
color: green;
    
}
#btn1{
  margin-top: -30px;
  position: relative;
  top:110px;
  left: 0%;
  z-index: 10;
  background-image: url("./assets/images/eye.jpeg");
  background-repeat: no-repeat;
  background-size: 33px 26px;
  background-color: transparent;
  border: transparent;
  color: transparent;
  transition: 0ms
}
@media (max-width :768px){
  #btn1{
    position: relative;
    left:68.7%
  }
}
@media (min-width :769px){
  #btn1{
    position: relative;
    left:73%
  }
}
